.Header-logo {
  animation: Header-logo-spin infinite 3s linear;
  height: 10vmin;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vh;
  background-color: $dark-blue;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 2px 3px $light-blue;
}

.Header-title {
  color: $light-blue;
  font-family: $zcool, cursive;
}


